html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

:root {
	--color-dark: #000;
	--color-light: #fff;
	--color-accent: #ff7143;
}

.page {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-width: 320px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

.btn {
	padding: 0;
	border: none;
	background-color: var(--color-light);
	cursor: pointer;
	color: var(--color-dark);
}


/* header */

.header {
	color: var(--color-light);
	background-color: var(--color-dark);
}


.header__container {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	margin-right: 65px;
}

.mail {
	margin-right: auto;
}

.header__nav {
	margin-right: 65px;
}

.

.advantages {
}
.drunk {
}
.landing__pages {
}
.footer {
.main__page.flex {
}
.advantages__main__block {
}
.drunk__main__block {
}
.landing__name__block {
}
.landing__list {
}
.footer__top__block.flex {
}
.footer__text__button.flex {
}
.header__logo.flex {
}
.header__mail_block.flex {
}
.header__paragraph.flex {
}
.header__button.btn.btn__reset.flex {
}
.main__page_center {
}
.advantages__list.flex {
}
.drunk__block {
}
.landing__heading__text {
}
.landing__list__block.flex {
}
.footer__logo {
}
.footer__button {
}
.footer__text {
}
.footer__icon__link.flex {
}
.header__mail.flex {
}
.main__text__heading.flex {
}
.main__text_paragraph.flex {
}
.main__button_black.flex {
}
.main__button_white.flex {
}
.advantages__list__block {
}
.drunk__img {
}
.drunk__text {
}
.drunk__text__name {
}
.drunk__color__block {
}
.landing__block {
}
.footer__paragraph {
}
.inst {
}
.twitter {
}
.facebook {
}
.advantages__left__block {
}
.advantages__center__block {
}
.drunk__text__paragraph {
}
.drunk_name {
}
.drunk__director {
}
.color__left {
}
.color__right {
}
.landing__list_top {
}
.landing__board {
}
.inst__link {
}
.twitter__link {
}
.facebook__link {
}
.img__block__left {
}
.advantages__text {
}
.img__block__center {
}
.landing__img {
}
.landing__board__text {
}
.img__speed {
}
.advantages__text__header {
}
.advantages__text__paragraph {
}
.img__design {
}
.img__modularity {
}

/* header */
